@charset "utf-8";
/* CSS Document */

@import 'reset';
@import 'vendor';

/* ====================== HEADER ====================== */

header {
  #heading {
    width: 100%;
    height: 130px;
    background-color: #252831;
    text-align:center;
    display: flex;
    h1 {
      margin: auto;
      a {
        color: #fff;
        font-size: 14pt;
        font-weight: 200;
        letter-spacing: 10px;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

/* ====================== Main Content ====================== */

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

/* ====================== Footer ====================== */

#footer {
  background-color: #252831;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

// @media screen and (max-width: 497px) {
//   .filter-options {
//     height: 140px;
//   }
// }