@charset "utf-8";

/* Variables */
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #8C43FF;
$primary-dark-color: rgb(113, 27, 250);
$background-color: #f3f3f3;
$primary-text-color: #0a0a0a;
$secondary-text-color: #696767;
$card-bg-color: #fff;